.db {
	display: block;
}

.di {
	display: inline;
}

.dib {
	display: inline-block;
}

.dn {
	display: none;
}

.por {
	position: relative;
}

.ovy-auto {
	overflow-y: auto;
}

.ov-hidden {
	overflow: hidden;
}